.app__content {
  width: clamp(288px, 86%, 1232px);
  margin: 0 auto 26px;
}

@media (max-width: 1000px) {
  .app__content {
    margin: 0 auto 18px;
  }
}

@media (max-width: 320px) {
  .app__content {
    margin: 0 auto 16px;
  }
}
