.navigation__button_loggedin {
  border: 1px solid #D1D2D6;
  color: #1a1b22;
}

@media (max-width: 700px) {
  .navigation__button_loggedin {
    border: 1px solid #FFF;
    color: white;
  }
}

@media (max-width: 700px) {
  .navigation__button_loggedin:hover {
    transition: opacity linear .5s;
    opacity: .6;
  }
}


@media (min-width: 700px) {
  .navigation__button_loggedin:hover {
    border: 1px solid #1A1B22;
    color: #1a1b22;
  }
}
