.popup__title {
  font-family: 'Roboto', Arial, sans-serif;
  color: #1a1b22;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 27px;
}

@media (max-width: 450px) {
  .popup__title {
    margin: 0 0 17px;
  }
}



