.navigation__button {
  color: white;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 24px;
  height: 48px;
  border-radius: 100px;
  border: 1px solid #fff;
  margin-left: 34px;
  background-color: transparent;
  padding: 0 16px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .navigation__button {
    font-size: 16px;
    height: 40px;
    padding: 0 14px;
    margin-left: 16px;
  }
}

@media (max-width: 700px) {
  .navigation__button {
    margin-bottom: 24px;
    width: 288px;
    height: 56px;
  }
}
