.main__btn {
  margin: 0 auto 81px;
  width: 288px;
  height: 64px;
  border-radius: 80px;
  background-color: #fff;
  border: none;
  outline: none;
  color: #1a1b22;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.main__btn:hover {
  background-color: rgba(255, 255, 255, .9);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

@media (max-width: 768px) {
  .main__btn {
    height: 56px;
    width: 240px;
    margin-bottom: 42px;
  }
}

@media (max-width: 600px) {
  .main__btn {
    width: 288px;
    margin: 7px auto 33px;
  }
}
