.card-list__btn {
  margin: 0 auto;
  width: 288px;
  height: 64px;
  border-radius: 80px;
  background-color: #ffffff;
  border: none;
  outline: none;
  color: #1a1b22;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.card-list__btn:hover {
  background-color: rgba(255, 255, 255, .9);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .card-list__btn {
    height: 56px;
    width: 240px;
  }
}

@media (max-width: 600px) {
  .card-list__btn {
    width: 288px;
  }
}
