.popup__input {
  font-family: "Inter", Arial, sans-serif;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 19px;
  height: 28px;
  margin-top: 5px;
  color: #000;
  font-weight: 400;
}

.popup__input:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.popup__input:focus {
  background-color: rgba(47, 113, 229, 0.1);
}

