.navigation__link {
  color: white;
  text-decoration: none;
  margin-left: 34px;
  -webkit-transition: opacity linear 0.5s;
  transition: opacity linear 0.5s;
}

.navigation__link:hover {
  opacity: .6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

@media (max-width: 1000px) {
  .navigation__link {
    margin-left: 19px;
  }
}

@media (max-width: 700px) {
  .navigation__link {
    margin-left: 16px;
  }
}

@media (min-width: 700px) {
  .navigation__link {
    margin-top: 8px;
  }
}

@media (min-width: 1000px) {
  .navigation__link {
    margin-top: 12px;
  }
}


