.footer__icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: opacity linear 0.5s;
  transition: opacity linear 0.5s;
}

.footer__icon:hover {
  cursor: pointer;
  opacity: .6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

