.navigation__signout {
  padding-left: 12px;
  -webkit-transition: opacity linear 0.5s;
  transition: opacity linear 0.5s;
}

.navigation__signout   {
  opacity: .6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}
