@import url(./__link/navigation__link.css);
@import url(./__link/_active/navigation__link_active.css);
@import url(./__link/_loggedin/navigation__link_loggedin.css);
@import url(./__button/navigation__button.css);
@import url(./__button/_loggedin/navigation__button_loggedin.css);
@import url(./__signout/navigation__signout.css);
@import url(./__signout/_loggedin/navigation__signout_loggedin.css);
@import url(./__link/_active-black/navigation__link_active-black.css);

.navigation {
  display: flex;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 24px;
}

@media (max-width: 1000px) {
  .navigation {
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  .navigation {
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    top: 56px;
    right: 0;
    z-index: 2;
    background-color: #1A1B22;
    width: 100%;
    font-size: 18px;
    line-height: 56px;
    padding: 17px 0 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}
