.popup__registration-err {
  text-align: center;
  align-items: center;
  width: 200px;
  height: 15px;
  color: #ff0000;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 0 auto 5px;
}
