.card-list__title {
  margin: 35px 0 47px;
  color: #1a1b22;
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  text-align: left;
}

@media (max-width: 850px) {
  .card-list__title {
    font-size: 30px;
    line-height: 34px;
    margin: 24px 0 15px;
  }
}

@media (max-width: 480px) {
  .card-list__title {
    margin: 26px 0 7px;
  }
}

