.card__img {
  box-sizing: border-box;
  height: 272px;
  border-radius: 16px 16px 0 0;
  display: flex;
  justify-content: space-between;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 850px) {
  .card__img {
    height: 150px;
  }
}

@media (max-width: 488px) {
  .card__img {
    height: 196px;
  }
}

