.card__caption  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 260px;
  padding: 20px 24px 24px;
  background-color: #fff;
  border-radius: 0 0 16px 16px;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 850px) {
  .card__caption {
    padding: 16px 17px 16px;
    height: 239px;
  }
}

@media (max-width: 488px) {
  .card__caption {
    height: 214px;
  }
}
