@import url(./__cards/card-list__cards.css);
@import url(./__title/card-list__title.css);
@import url(./__btn/card-list__btn.css);

.card-list {
  display: flex;
  flex-direction: column;
  background-color: #f5f6f7;
  padding: 47px 104px 0;
}

@media (max-width: 1000px) {
  .card-list {
    padding: 81px 40px;
  }
}

@media (max-width: 850px) {
  .card-list {
    padding: 18px 40px 0;
  }
}

@media (max-width: 700px) {
  .card-list {
    padding: 41px 16px;
  }
}

@media (max-width: 488px) {
  .card-list {
    padding: 10px 16px 0;
  }
}
