.search__subtitle {
  font-family: "Roboto", "Source Sans Pro", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 62px;
}

@media (max-width: 768px) {
  .search__subtitle {
    margin: 0 0 48px;
  }
}

@media (max-width: 500px) {
  .search__subtitle  {
    margin: 17px 0 105px;
  }
}
